language: go

sudo: false

go:
- 1.1.2
- 1.2.2
- 1.3.3
- 1.4
- 1.5.4
- 1.6.2
- master

matrix:
  allow_failures:
  - go: master

before_script:
- go get github.com/meatballhat/gfmxr/...

script:
- ./runtests vet
- ./runtests test
- ./runtests gfmxr
